.square {
  box-shadow: inset 0 0 5px black;
  border: 2px solid black;
  width: 23px;
  height: 23px;
  position:absolute;
}

.border {
  border: 2px solid black;
}

.score-display {
  position: absolute;
  left: 270px;
  top: 120px;
  border: 2px solid black;
  width: 130px;
  margin: 0;
  padding: 2px 5px;
}

.next {
  position: absolute;
  left: 270px;
  top: 200px;
}

.hold {
  position: absolute;
  left: 270px;
  top: 10px;
}

.holdPiece {
  position: relative;
}

div,body {padding:0;margin:0}
